.interna-divulgacao {
  background: url("../img/slipknotms3.jpg") no-repeat center;
  height: 220px;
}
h3:after {
  content: "";
  display: block;
  width: 200px;
  height: 3px;
  background: #000;
  margin: 5px auto;
}
.container-form {
  display: flex;
}
.container-form img {
  width: 720px;
  height: 350;
  margin-top: 55px;
  margin-left: 75px;
}
.contato-form {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 128px;
}

.contato-form label {
  display: block;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.contato-form input {
  display: block;
  width: 300px;
  border: 4px solid #9b4747;
  background: none;
  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", serif;
}

.contato-form textarea {
  display: block;
  width: 300px;
  height: 120px;
  border: 4px solid #9b4747;
  background: none;
  padding: 7px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", serif;
}

.contato-form button {
  padding: 7px 40px;
  background: none;
  border: 4px solid #9b4747;
}
.btn-enviar {
  color: #9b4747;
  font-weight: bold;
  cursor: pointer;
}
.divulgacao h3 {
  text-transform: uppercase;
  color: black;
  margin-top: 20px;
}
.countdown {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.text {
  color: #ededed;
  opacity: 80%;
  font-weight: bold;
  font-size: 5rem;
  line-height: 1;
  margin: 10px;
}
.countdown-el {
  font-weight: bold;
  text-align: center;
}
.countdown-el span {
  font-size: 20px;
  color: #ededed;
  opacity: 80%;
}
.countdown h3 {
  text-transform: uppercase;
  color: #ededed;
  opacity: 80%;
}
.background {
  background: url("../img/background.svg") no-repeat center;
}
/*Footer*/
footer {
  width: 100%;
  margin: 0;
  padding: 0;
}
.footer {
  margin-top: 10px;
  display: flex;
  height: 120px;
  background: #000;
  color: #fff;
}

.nossa-meta p {
  width: 400px;
  text-align: justify;
}

.flex-contato {
  width: 500px;
  margin-top: -10px;
  display: block;
  font-size: 14px;
}

.footer_redes {
  display: block;
  margin-left: 155px;
}
